<!--@subject Start earning rebates with us today!  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password",
"var subscriber.getUnsubscriptionLink()":"Subscriber Unsubscribe Url",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"
"var unsubscribe":"Unsubscribe Url"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
              <tr>
                  <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          
                          <tr>
                              <td align="center" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 25px;line-height: 35px;letter-spacing: .1em; color: #efeeed;text-transform: uppercase;" class="padding-copy">
                                  Hi, {{htmlescape var=$customer.name}}
                              </td>
                          </tr>
                          
                          <tr>
                              <td align="center" style="padding: 0px 20px 0 20px;">
                                <!-- COPY -->
                                <p align="center" style="padding: 20px 45px 0 45px; font-size: 12px;line-height: 21px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed;" class="padding-copy">Thank you for joining as at Monogram! Having an account with us will mean that you can save your addresses, keep track of your orders and even earn rebates which can be used to offset your future purchases.</p>
                                <p align="center" style="padding: 20px 45px 0 45px; font-size: 12px;line-height: 21px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed;" class="padding-copy">Take a look at how easy it is to earn rebates:</p>
                                <ul style="padding: 20px 45px 0 45px; font-size: 12px;line-height: 21px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed; list-style: none;">
                                    <li>Account Registration: S$1</li>
                                    <li>Newsletter Sign-up: S$1</li>
                                    <li>Birthday Month: S$8</li>
                                    <li>Every Product Review: S$1</li>
                                    <li>Every Purchase: 10% of your bill will be calculated as your rebate for your future purchases</li>
                                </ul>
                                <p align="center" style="padding: 20px 45px 0 45px; padding: 20px 45px 0 45px; font-size: 12px;line-height: 21px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed;" class="padding-copy"><a href="{{store url='customer/account/login'}}" class="link" style="color: #efeeed; text-decoration: none;">Login to your account</a> to check your rebate balance and start shopping to earn even more! </p>
                              </td>
                          </tr>
                          <tr>
                              <td align="center">
                                  <!-- BULLETPROOF BUTTON -->
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                      <tr>
                                        <td align="center" style="padding: 65px 0 0 0;" class="padding-copy">
                                          <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                            <tr>
                                              <td align="center"><a href="{{store direct_url='customer/account/login'}}" target="_blank" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;text-transform: uppercase;letter-spacing: .05em;color: #fff;border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: 0 0;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Account Login</a></td>
                                              <td align="center" width="57"></td>
                                              <td align="center"><a href="{{store url='store.html'}}" target="_blank" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;text-transform: uppercase;letter-spacing: .05em;color: #fff;border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: 0 0;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Tea Bar</a></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>                                       
                              </td>
                          </tr>
                          
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>

{{template config_path="design/email/footer"}}