<!--@subject Password Reset for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- ONE COLUMN SECTION -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#fffdfa">
      <tr>
          <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
              <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
                  <tr>
                      <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              
                              <tr>
                                  <td align="center" style="font-family: 'Raleway',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 300;font-size: 22px;line-height: 34px;letter-spacing: .075em; color: #707071;" class="padding-copy">
                                      Hello {{htmlescape var=$customer.name}}
                                  </td>
                              </tr>
                              
                              <tr>
                                  <td align="center" style="padding: 0px 20px 0 20px;">
                                      <!-- COPY -->
                                                      
                                    <p style="font-size: 12px; line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #707071;">We have received a password change request for your Roji account. Please <a href='{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}' style="color: #707071; text-decoration: none;">click on</a> the button below to reset your password.</p>
                                                                    
                                    </tr>
                                      <td align="left" style="padding: 0px 0px 0 10px; font-size: 12px; line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #707071; text-align: center;" class="padding-copy">If you did not make this request, kindly ignore this email.
                                      </td>
                                    </tr>
                                  </td>
                              </tr>
                              <tr>
                                  <td align="center">
                                      <!-- BULLETPROOF BUTTON -->
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                          <tr>
                                            <td align="center" style="padding: 45px 0 0 0;" class="padding-copy">
                                              <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                <tr>
                                                  <td align="center"><a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" target="_blank" style="font-family: 'Montserrat',Arial,Helvetica,sans-serif; font-style: normal; font-weight: 500; font-size: 12px; line-height: 20px; line-height: 24px; text-transform: uppercase; letter-spacing: .075em; color: #fff !important; border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: #333;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Reset Password</a></td>                                                  
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </table>                                      
                                  </td>
                              </tr>
                              
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
    </table>

{{template config_path="design/email/footer"}}
