<!--@subject Thank You for Signing Up! @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
              <tr>
                  <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          
                          <tr>
                              <td align="center" style="font-family: 'Raleway',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 300;font-size: 22px;line-height: 34px;letter-spacing: .075em; color: #707071;" class="padding-copy">
                                  Thank you for your subscription
                              </td>
                          </tr>
                          
                          <tr>
                              <td align="center" style="padding: 0px 20px 0 20px;">
                                    <!-- COPY -->
                                    <h2 style="font-size: 12px; letter-spacing: 0.075em; font-family: 'Montserrat','Arial Black',Gadget,sans-serif; font-style: normal; font-weight: 400; color: #fff; text-align: center; background-color: #cdc7c0; color: #fff; padding:13px; margin: 0 auto; margin-top:30px; margin-bottom:30px; max-width: 330px; text-transform: uppercase;">4 Doses of Goodness</h2>
                                    <ul style="padding: 20px 45px 0 45px; font-size: 12px; line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #707071;list-style: none;">
                                        <li style="text-align: left; margin-bottom: 15px;color: #707071;">Early Access: Be the first to learn about our latest products and even receive exclusive invites to product launches!</li>
                                        <li style="text-align: left; margin-bottom: 15px;color: #707071;">Easy Selection: With so many tea categories to choose from, we made sure our tea store is easy to navigate, for you to find products you'll love.</li>
                                        <li style="text-align: left; margin-bottom: 15px;color: #707071;">Exclusive Promotions: Enjoy special sales before anyone else, and exclusive promotions only for our subscribers.</li>
                                        <li style="text-align: left; margin-bottom: 15px;color: #707071;">Roji Rebates: Earn rebates when you shop with us and use it to offset your next purchase!</li>
                                    </ul>
                              </td>
                          </tr>                                                            
                          <tr>
                              <td align="center">
                                  <!-- BULLETPROOF BUTTON -->
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                    <tr>
                                        <td align="center" style="padding: 65px 0 0 0;" class="padding-copy">
                                            <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                                <tr>
                                                    <td align="center"><a href="{{store url=''}}" target="_blank" style="font-family: 'Montserrat',Arial,Helvetica,sans-serif; font-style: normal; font-weight: 500; line-height: 24px; text-transform: uppercase; font-size: 12px; line-height: 20px; letter-spacing: .075em; color: #fff !important; display: inline-block; vertical-align: top; zoom: 1; height: 20px; padding-top: 5px; padding-bottom: 5px; padding-left: 17px; padding-right: 17px; background-color: #333; outline: none; border: none;-webkit-appearance: none; -moz-appearance: none; appearance: none; text-decoration: none;" class="mobile-button">Roji Website</a></td>
                                                    <td align="center" width="24"></td>
                                                    <td align="center"><a href="{{store url='store.html'}}" target="_blank" style="font-family: 'Montserrat',Arial,Helvetica,sans-serif; font-style: normal; font-weight: 500; line-height: 24px; text-transform: uppercase; font-size: 12px; line-height: 20px; letter-spacing: .075em; color: #fff !important; display: inline-block; vertical-align: top; zoom: 1; height: 20px; padding-top: 5px; padding-bottom: 5px; padding-left: 17px; padding-right: 17px; background-color: #333; outline: none; border: none;-webkit-appearance: none; -moz-appearance: none; appearance: none; text-decoration: none;" class="mobile-button">Tea Store</a></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>                                    
                              </td>
                          </tr>
                          
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>
{{template config_path="design/email/footer"}}
