<!--@subject Referral program confirmation @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
      <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
              <tr>
                  <td>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          
                          <tr>
                              <td align="center" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 25px;line-height: 35px;letter-spacing: .1em; color: #efeeed;text-transform: uppercase;" class="padding-copy">
                                  Referral Program
                              </td>
                          </tr>
                          
                          <tr>
                              <td align="center" style="padding: 0px 20px 0 20px;">
                                    <!-- COPY -->     
                                    <h2 style="padding: 20px 0px 20px 10px; font-family: 'BrandonGrotesqueWeb-Bold','Arial Black',Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 11px;line-height: 32px;letter-spacing: .08em;text-transform: uppercase; color: #efeeed;">Hi {{var parent.name}},</h2>
                                    <p style="padding: 20px 45px 0 45px; font-size: 12px;line-height: 21px; font-family: Domine,'Times New Roman',Times,serif;font-style: normal; font-weight: 400; color: #efeeed;">Your friend, {{var child.name}} ({{var child.email}}), has made their first purchase on Monogram. Thank you for recommending them and you may log in to your account to redeem your S$5 rebate now!</p>                                    
                              </td>
                          </tr>

                          <tr>
                              <td align="center">
                                <!-- BULLETPROOF BUTTON -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                                  <tr>
                                    <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
                                      <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
                                        <tr>
                                          <td align="center"><a href="{{store url=''}}" target="_blank" style="font-family: 'BrandonGrotesqueWeb-Bold',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;text-transform: uppercase;letter-spacing: .05em;color: #fff;border: 1px solid #fff;padding-left: 9px;padding-right: 9px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-moz-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;-o-transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;transition: all .3s cubic-bezier(.645,.045,.355,1) 0s;height: auto;line-height: 30px;background: 0 0;display: inline-block;vertical-align: top;zoom: 1;text-decoration: none;width: 168px;height: 30px;vertical-align: middle;" class="mobile-button">Monogram Website</a></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>                                     
                              </td>
                          </tr>
                          
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>

{{template config_path="design/email/footer"}}