<!--@subject Email - Footer @-->

    <!-- TWO COLUMN SECTION -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td bgcolor="#f4f2ef" align="center" style="padding: 30px 0px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
                <tr>
                    <td>
                        <!-- TWO COLUMNS -->
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td valign="top" style="padding: 0;" class="mobile-wrapper">
                                    <!-- LEFT COLUMN -->
                                    <table cellpadding="0" cellspacing="0" border="0" align="left" class="responsive-table" style="width: 50%; padding: 0 20px;">
                                        <tr>
                                            <td style="padding: 0px 0 20px 0;">
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">                                                    
                                                    <tr>
                                                        <td align="center" style="padding: 15px 0 0 0; font-family: 'Montserrat',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 12px; letter-spacing: 0.075em; color: #8d837c;">FOLLOW US</td>
                                                    </tr>                                               
                                                    <tr>
                                                        <td align="center" style="padding: 5px 0 0 0;">                                                            
                                                            <a href="https://instagram.com/gryphontea/" style="font-size: 14px;padding: 0px 7px;color: #747475; text-decoration: none;"><i class="fa fa-facebook"></i></a>            
                                                            <a href="https://www.facebook.com/gryphonteacompany" style="font-size: 14px;padding: 0px 7px;color: #747475; text-decoration: none;"><i class="fa fa-instagram"></i></a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>                                      
                                    </table> 
                                    <table cellpadding="0" cellspacing="0" border="0" align="left" class="responsive-table" style="width: 50%; padding: 0 20px;">
                                      <tr>
                                          <td style="padding: 0px 0 20px 0;">
                                              <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                  
                                                  <tr>
                                                      <td align="center" style="padding: 15px 0 0 0; font-family: 'Montserrat',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 12px; letter-spacing: 0.075em; color: #8d837c;">CONTACT US</td>
                                                  </tr>                                               
                                                  <tr>
                                                      <td align="center" style="padding: 5px 0 0 0;"><p style="margin-top: 0px;font-size: 12px;line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400;color: #747475; text-decoration: none;">ganbatte@rojicha.com<br><span class="appleBody" style="font-size: 12px;line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400;display:block;color: #747475;text-decoration:none;">(9am - 5pm)</span></p></td>
                                                  </tr>                                                    
                                              </table>
                                          </td>
                                      </tr>
                                    </table>
                                    <!-- <table cellpadding="0" cellspacing="0" border="0" align="left" class="responsive-table" style="margin: 0 20px;">
                                        <tr>
                                            <td style="padding: 0px 0 20px 0;">
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    
                                                    <tr>
                                                        <td align="left" style="padding: 15px 0 0 0; font-family: 'Montserrat',Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 12px; letter-spacing: 0.075em; color: #8d837c;">EMAIL SETTINGS</td>
                                                    </tr>                                               
                                                    <tr>
                                                        <td align="left" style="padding: 5px 0 0 0; font-size: 12px;line-height: 18px; letter-spacing: 0.05em; font-family: Open Sans,'Times New Roman',Times,serif;font-style: normal; font-weight: 400;color: #747475;"><span class="appleBody">To unsubscribe from Roji Cha's <br> mailing list, <a href="http://www.rojicha.com/discovertea/index/unsubscribe?unsubscribe_email={{var customer.email}}" style="color: #747475; text-decoration: none;">click here.</a></span></td>
                                                    </tr>                                                    
                                                </table>
                                            </td>
                                        </tr>
                                    </table> -->                                
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>                
            </table>
        </td>
      </tr>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center" bgcolor="#8c837d">
            <!-- UNSUBSCRIBE COPY -->
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                      <td valign="top" style="padding: 0;" class="mobile-wrapper">
                        <!-- LEFT COLUMN -->
                        <table cellpadding="0" cellspacing="0" border="0" width="50%" align="left" class="responsive-table">
                          <tr>
                            <td style="">
                              <a href="http://www.rojicha.com/" style="text-decoration: none;">
                                <h5 id="email-monogram-name" style="font-family: Montserrat,Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;line-height: 13px;letter-spacing: .075em;display: inline-block;vertical-align: middle;color: #fff;text-transform: uppercase;">roji by gryphon tea company &copy; 2017</h5>
                              </a>
                            </td>
                          </tr>                      
                        </table>                                    
                        <!-- RIGHT COLUMN -->
                        <table cellpadding="0" cellspacing="0" border="0" width="50%" align="right" class="responsive-table">
                          <tr>
                            <td style="">
                              <ul style="text-align:right;margin:0;">
                                <li style="display: inline-block;vertical-align: middle;margin-left: 15px;"><a style="border-right: 1px solid #fff; padding-right: 15px;font-family: Montserrat,Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;line-height: 47px;letter-spacing: .075em; color: #fff; text-decoration: none;text-transform: uppercase;" href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></li>
                                <li style="display: inline-block;vertical-align: middle;margin-left: 15px;"><a style="font-family: Montserrat,Arial Black,Gadget,sans-serif;font-style: normal;font-weight: 400;font-size: 10px;line-height: 47px;letter-spacing: .075em; color: #fff; text-decoration: none;text-transform: uppercase;" href="{{store direct_url='terms-and-conditions'}}">Terms of use</a></li>
                              </ul>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>   
                </td>           
              </tr>
            </table>
          </td>
        </tr>
    </table>
  </body>
</html>