<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Rewardpointscustomiser>
			<version>1.0.0</version>
		</Miragedesign_Rewardpointscustomiser>
	</modules>
    <frontend>
        <layout>
            <updates>
                <rewardpointscustomiser>
                    <file>rewardpointscustomiser.xml</file>
                </rewardpointscustomiser>
            </updates>
        </layout>               
    </frontend>   
    <global>
        <models>
            <rewardpointscustomiser>
                <class>Miragedesign_Rewardpointscustomiser_Model</class>
            </rewardpointscustomiser>
            <rewardpoints>
                <rewrite>
                    <observer>Miragedesign_Rewardpointscustomiser_Model_Observer</observer>
                </rewrite>
            </rewardpoints>
        </models>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <rewardpoints_on_page>
                        <class>Miragedesign_Rewardpointscustomiser_Model_Observer</class>
                        <method>setPointsOnProductPages</method>
                    </rewardpoints_on_page>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <blocks>
            <rewardpointscustomiser>
                <class>Miragedesign_Rewardpointscustomiser_Block</class>
            </rewardpointscustomiser>                               
        </blocks>
        <helpers>
            <rewardpointscustomiser>
                <class>Miragedesign_Rewardpointscustomiser_Helper</class>
            </rewardpointscustomiser>
        </helpers>
    </global>
</config> 
