<?xml version="1.0"?>
  <config>
     <modules>
        <Manic_Breadcrumb>
          <version>1.0.0</version>
        </Manic_Breadcrumb>
     </modules>
     <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Manic_Breadcrumb</module>
                 <frontName>breadcrumb</frontName>
              </args>
           </routeurfrontend>
       </routers>
       <events>
            <catalog_controller_product_init>
                <observers>
                    <breadcrumb_categorypath_product_init>
                        <type>singleton</type>
                        <class>Manic_Breadcrumb_Model_Observer</class>
                        <method>fullBreadcrumbCategoryPath</method>
                    </breadcrumb_categorypath_product_init>
                </observers>
            </catalog_controller_product_init>
        </events>
    </frontend>
</config>