//    _____ ___ _____ _     _____
//   |_   _|_ _|_   _| |   | ____|
//     | |  | |  | | | |   |  _|
//     | |  | |  | | | |___| |___
//     |_| |___| |_| |_____|_____|
//

#page-login-title-section{
  padding-top: 36px + 9px;
  padding-bottom: 41px;
} // #page-login-title-section

#page-login-title{
  text-align: right;

} // #page-login-title



//     ____ ___  _   _ _____ _____ _   _ _____
//    / ___/ _ \| \ | |_   _| ____| \ | |_   _|
//   | |  | | | |  \| | | | |  _| |  \| | | |
//   | |__| |_| | |\  | | | | |___| |\  | | |
//    \____\___/|_| \_| |_| |_____|_| \_| |_|
//




#page-login-content-section{
  background: @off-white-1;
  
  padding-top: 30px;
  padding-bottom: 100px;

} // #page-login-content-section




#page-login-content{

  padding-top: 35px;
  padding-left: 53px;     // same as register form
  padding-right: 63px;


  .checkout-form{
    .form-group{
      margin-bottom: 20px;      // override
    }
    .form-group.checkbox-version{
      margin-bottom: 0;
      padding-top: 7px;
    }
  }

  .cta-container{
    text-align: right;
  }
  .square-cta{
    padding-left: 17px + 23px;
    padding-right: 17px + 23px;
  }


  // TABLET PORTRAIT
  @media only screen and (max-width: 991px) {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
} // #page-login-content






#page-login-form-forgot-password-container{
  text-align: right;
  margin-top: -19px;
  margin-bottom: 23px;

  a{
    .body-font-small-italic;
    color: @dark-grey !important;
    .transition-in-single (color, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);

    &:hover,
    &:focus{

      color: @grey !important;
      .transition-in-single (color, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);
    }

  }

} // #page-login-form-forgot-password-container



#page-login-intro-image{
  .manic-image-container{
    height: 290px;
  }
} // #page-login-intro-image







.page-login-seperator-hr{
  margin-top: 49px;
}


#page-login-register-form-container{
  padding-top: 25px;
  padding-left: 53px;     // same as register form
  padding-right: 63px;

  // TABLET PORTRAIT
  @media only screen and (max-width: 991px) {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
} // #page-login-register-form-container

#page-login-register-form{

  h2{
    color: @dark-grey-2;
    text-transform: uppercase;

    margin-bottom: 19px;
  }

  .default-copy{
    margin-bottom: 45px;
  }

  .cta-container{

  }

  .square-cta{
    padding-left: 17px + 23px;
    padding-right: 17px + 23px;
  }

} // #page-login-register-form
