<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Checkoutcustomiser>
			<version>1.0.0</version>
		</Miragedesign_Checkoutcustomiser>
	</modules>
    <frontend>
		<routers>
			<checkout>
				<args>
					<modules>
						<Miragedesign_Checkoutcustomiser before="Mage_Checkout">Miragedesign_Checkoutcustomiser</Miragedesign_Checkoutcustomiser>
					</modules>
				</args>
			</checkout>
		</routers>
        <layout>
            <updates>
                <checkoutcustomiser>
                    <file>checkoutcustomiser.xml</file>
                </checkoutcustomiser>
            </updates>
        </layout>               
    </frontend>   
    <global>
        <blocks>
            <checkoutcustomiser>
                <class>Miragedesign_Checkoutcustomiser_Block</class>
            </checkoutcustomiser>                    
			<checkout>
				<rewrite>
					<onepage>Miragedesign_Checkoutcustomiser_Block_Onepage</onepage>
				</rewrite>
			</checkout>
        </blocks>
        <helpers>
            <checkoutcustomiser>
                <class>Miragedesign_Checkoutcustomiser_Helper</class>
            </checkoutcustomiser>
        </helpers>
        <models>
            <checkoutcustomiser>
                <class>Miragedesign_Checkoutcustomiser_Model</class>
            </checkoutcustomiser>
            <checkout>
                <rewrite>
                    <type_onepage>Miragedesign_Checkoutcustomiser_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
    </global>
</config> 
