<?xml version="1.0"?>
<config>
    <modules>
        <Manic_Savelayering>
            <version>1.0.0</version>
        </Manic_Savelayering>
    </modules>
    <frontend>
        <routers>
            <savelayering>
                <use>standard</use>
                <args>
                    <module>Manic_Savelayering</module>
                    <frontName>savelayering</frontName>
                </args>
            </savelayering>
        </routers>
		<layout>
			<updates>
				<savelayering>
					<file>savelayering.xml</file>
				</savelayering>
			</updates>
		</layout>
    </frontend>
    <admin>
        <routers>
            <savelayering>
                <use>admin</use>
                <args>
                    <module>Manic_Savelayering</module>
                    <frontName>admin_savelayering</frontName>
                </args>
            </savelayering>
			<!--<adminhtml>
                <args>
                    <modules>
                        <manic_savelayering before="Mage_Adminhtml">Manic_Savelayering_Adminhtml</manic_savelayering>
                    </modules>
                </args>
            </adminhtml>-->
        </routers>
    </admin>
    <global>
		 <models>
			 <savelayering>
				 <class>Manic_Savelayering_Model</class>
				 <resourceModel>savelayering_resource</resourceModel>
			 </savelayering>
			 <savelayering_resource>
				 <class>Manic_Savelayering_Model_Resource</class>
				 <entities>
					 <savelayering>
						<table>savelayering</table>
					 </savelayering>
				 </entities>
			 </savelayering_resource>
		 </models>
		 <resources>
			 <savelayering_setup>
				 <setup>
					<module>Manic_Savelayering</module>
				 </setup>
				 <connection>
					<use>core_setup</use>
				 </connection>
			 </savelayering_setup>
			 <savelayering_read>
				 <connection>
					<use>core_read</use>
				 </connection>
			 </savelayering_read>
			 <savelayering_write>
				 <connection>
					<use>core_write</use>
				 </connection>
			 </savelayering_write>
		 </resources>
		<blocks>
			<savelayering>
				<class>Manic_Savelayering_Block</class>
			</savelayering>
		</blocks>
        <helpers>            
            <savelayering>                
                <class>Manic_Savelayering_Helper</class>            
            </savelayering>        
        </helpers>    
    </global> 
	<adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Manic_Savelayering>
                            <title>Manic Savelayering Module</title>
                            <sort_order>10</sort_order>
                        </Manic_Savelayering>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
            <updates>
                <savelayering>
                    <file>savelayering.xml</file>
                </savelayering>
            </updates>
        </layout>        
    </adminhtml>
</config>