
//    ____   ___  _   _   _    ____  _____
//   / ___| / _ \| | | | / \  |  _ \| ____|
//   \___ \| | | | | | |/ _ \ | |_) |  _|
//    ___) | |_| | |_| / ___ \|  _ <| |___
//   |____/ \__\_\\___/_/   \_\_| \_\_____|
//

.square-cta{

  .h4-style;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.075em;

  color: @white !important;

  .display-inline-block;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

  padding-left: 17px;
  padding-right: 17px;

  .transition-in-single (background-color, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.1s);
  background-color: @off-black;


  // button reset
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &:focus{

    color: @white !important;

    .transition-in-single (background-color, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.2s);
    background-color: @dark-grey;
  }




}


.square-cta.full-width-version{
  display: block;
  width: 100%;
  text-align: center;
}


//       _    ____  ____   _____        __
//      / \  |  _ \|  _ \ / _ \ \      / /
//     / _ \ | |_) | |_) | | | \ \ /\ / /
//    / ___ \|  _ <|  _ <| |_| |\ V  V /
//   /_/   \_\_| \_\_| \_\\___/  \_/\_/
//

.arrow-cta{
  .h4-style;
  font-size: 12px;
  line-height: 24px;
  color: @off-black !important;

  position: relative;
  .display-inline-block;

  padding-right: 18px;

  // button reset
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:after{
    .fa;
    content: "\f178"; // .fa-long-arrow-right;
    font-size: 12px;
    line-height: 24px;

    display: block;
    position: absolute;
    top: 0;
    right: 0;

    .transition-in-single (right, 0.15s, ease-out, 0.1s);
    
    
  }

  &:hover,
  &:active{

    &:after{

      right: -3px;
      .transition-in-single (right, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);
      
    }
  }

} // .arrow-cta


.arrow-cta.reverse-version{
  padding-right: 0 !important;
  padding-left: 18px;

  &:after{
    content: "\f177"; // .fa-long-arrow-left

    right: auto !important;
    left: 0;

    .transition-in-single (left, 0.15s, ease-out, 0.1s);
  }

  &:hover,
  &:active{
    &:after{
      right: auto !important;
      left: -3px;

      .transition-in-single (left, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);
    }
  }
} // .arrow-cta.reverse-version


@media only screen and (max-width: 767px) {
  .arrow-cta{
    font-size: 10px;
    padding-right: 16px;
    &:after{
      top: -1px;
    }
  }
  .arrow-cta.reverse-version{
    padding-left: 16px;
  }
}


//    ____  _    _   _ ____
//   |  _ \| |  | | | / ___|
//   | |_) | |  | | | \___ \
//   |  __/| |__| |_| |___) |
//   |_|   |_____\___/|____/
//

.plus-cta{
  .h4-style;
  font-size: 12px;
  line-height: 24px;
  color: @dark-grey !important;

  position: relative;
  .display-inline-block;

  padding-right: 22px;

  // button reset
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  

  &:before{       // line
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 1px;
    height: 3px;

    background: @dark-grey;

    .opacity(0);
    .transition-in(0.2s);
  }
  &:after{
    .h4-style;
    font-size: 19px;
    line-height: 24px;

    content: '+';

    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover,
  &:active{

    &:before{
      color: @off-black !important;

      .opacity(1);
    }
    color: @off-black !important;
  }


} // .plus-cta


.plus-cta.white-version{
  color: @white !important;

  &:before{
    background: @white;
  }

  &:hover,
  &:active{
    &:before{
      color: @white !important;
    }
    color: @white !important;
  }
} // .plus-cta.white-version

.plus-cta.grey-version{
  color: @grey !important;

  &:before{
    background: @grey;
  }

  &:hover,
  &:active{
    &:before{
      color: @grey !important;
    }
    color: @grey !important;
  }
} // .plus-cta.grey-version




//     ____ _     ___  ____  _____   ____  _   _ _____ _____ ___  _   _
//    / ___| |   / _ \/ ___|| ____| | __ )| | | |_   _|_   _/ _ \| \ | |
//   | |   | |  | | | \___ \|  _|   |  _ \| | | | | |   | || | | |  \| |
//   | |___| |__| |_| |___) | |___  | |_) | |_| | | |   | || |_| | |\  |
//    \____|_____\___/|____/|_____| |____/ \___/  |_|   |_| \___/|_| \_|
//



.close-btn{
  .display-inline-block;
  width: 23px;
  height: 23px;
  position: relative;

  border: 1px solid @dark-grey;
  .transition-in-single(border-color, 0.15s);

  .round(15px);

  &:before{
    .icon-close;

    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;

    .opacity(1);
    .transition-in(0.15s);
  }
  &:after{
    .icon-close-off-black;

    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;

    .opacity(0);
    .transition-in(0.15s);
  }

  &:hover,
  &:focus{

    border-color: @off-black;
    .transition-in-single(border-color, 0.2s, cubic-bezier(0.7,0,0.3,1), 0.05s);
    
    &:before{
      .opacity(0);
      .transition-in(0.2s, cubic-bezier(0.7,0,0.3,1), 0.05s);
    }
    &:after{
      .opacity(1);
      .transition-in(0.2s, cubic-bezier(0.7,0,0.3,1), 0.05s);
    }

  }
    
} // .close-btn









//    _   _ ____  ____    _  _____ _____
//   | | | |  _ \|  _ \  / \|_   _| ____|
//   | | | | |_) | | | |/ _ \ | | |  _|
//   | |_| |  __/| |_| / ___ \| | | |___
//    \___/|_|   |____/_/   \_\_| |_____|
//

.update-cta{
  .body-font-small-bold;

  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: @off-black !important;

  position: relative;
  .display-inline-block;

  padding-left: 18px;

  // button reset
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:after{
    .fa;
    content: "\f021"; // .fa-refresh

    font-size: 12px;
    line-height: 24px;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    .transition-in (0.15s, ease-out, 0.1s);
    .transform-origin(50%, 50%);
  }

  &:hover,
  &:active{


    &:after{

      .transition-in (0.2s, cubic-bezier(0.645, 0.045, 0.355, 1), 0.0s);
      .rotation(180deg);
      
    }
  }
}

