<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Ajaxsearch>
			<version>0.1.0</version>
		</Miragedesign_Ajaxsearch>
	</modules>
	<frontend>
		<routers>
			<ajaxsearch>
				<use>standard</use>
				<args>
					<module>Miragedesign_Ajaxsearch</module>
					<frontName>search</frontName>
				</args>
			</ajaxsearch>
		</routers>
		<layout>
			<updates>
				<ajaxsearch>
					<file>ajaxsearch.xml</file>
				</ajaxsearch>
			</updates>
		</layout>
		<translate>
			<modules>
				<Miragedesign_Ajaxsearch>
					<files>
						<default>Miragedesign_Ajaxsearch.csv</default>
					</files>
				</Miragedesign_Ajaxsearch>
			</modules>
		</translate>
	</frontend>
	<global>
        <rewrite>
            <ajaxsearch_advanced>
                <from><![CDATA[#^/catalogsearch/advanced/index/#]]></from>            
                <to>/search/advanced/index/</to>
                <from><![CDATA[#^/catalogsearch/advanced/#]]></from>            
                <to>/search/advanced/index/</to>
                <from><![CDATA[#^/catalogsearch/advanced#]]></from>            
                <to>/search/advanced/index/</to>
            </ajaxsearch_advanced>
        </rewrite>
		<blocks>
			<ajaxsearch>
				<class>Miragedesign_Ajaxsearch_Block</class>
			</ajaxsearch>
		</blocks>
		<helpers>
			<ajaxsearch>
				<class>Miragedesign_Ajaxsearch_Helper</class>
			</ajaxsearch>
		</helpers>
        <models>
        	<ajaxsearch>
        		<class>Miragedesign_Ajaxsearch_Model</class>
        	</ajaxsearch>
            <catalogsearch>
                <rewrite>
                    <advanced>Miragedesign_Ajaxsearch_Model_Advanced</advanced>
                </rewrite>
            </catalogsearch>
            <catalogsearch_mysql4>
                <rewrite>
                    <advanced_collection>Miragedesign_Ajaxsearch_Model_Mysql4_Advanced_Collection</advanced_collection>
                </rewrite>            
            </catalogsearch_mysql4>
        </models>
	</global>
</config>