<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Catalogcustomiser>
			<version>0.1.0</version>
		</Miragedesign_Catalogcustomiser>
	</modules>
	<frontend>
		<layout>
			<updates>
				<miragedesign_catalogcustomiser>
					<file>catalogcustomiser.xml</file>
				</miragedesign_catalogcustomiser>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<catalogcustomiser>
				<class>Miragedesign_Catalogcustomiser_Block</class>
			</catalogcustomiser>
		</blocks>
		<helpers>
			<catalogcustomiser>
	            <class>Miragedesign_Catalogcustomiser_Helper</class>                
			</catalogcustomiser>
		</helpers>
		<models>
			<catalogcustomiser>
				<class>Miragedesign_catalogcustomiser_Model</class>
			</catalogcustomiser>
		</models>
	</global>
    <admin>
        <routers>
			<catalogcustomiser>
				<use>admin</use>
				<args>
					<module>Miragedesign_Catalogcustomiser</module>
					<frontName>catalogcustomiser</frontName>
				</args>
			</catalogcustomiser>
        </routers>
    </admin>	
    <adminhtml>				
		<layout>
			<updates>
				<catalogcustomiser>
					<file>catalogcustomiser.xml</file>
				</catalogcustomiser>
			</updates>
		</layout>
    </adminhtml>
</config>
