<?xml version="1.0"?>
<config>
    <modules>
        <Aemtech_Subscriptions>
            <version>1.0.2</version>
        </Aemtech_Subscriptions>
    </modules>
    <frontend>
        <routers>
            <subscriptions>
                <use>standard</use>
                <args>
                    <module>Aemtech_Subscriptions</module>
                    <frontName>subscribe</frontName>
                </args>
            </subscriptions>
        </routers>
        <layout>
            <updates>
                <subscriptions>
                    <file>subscriptions.xml</file>
                </subscriptions>
            </updates>
        </layout>
		    <events>           
				<catalog_product_load_after>
					<observers>
						<subscriptions>						
							<class>Aemtech_Subscriptions_Model_Observer</class>
							<method>catalogProductLoadAfter</method>
						</subscriptions>
					</observers>				
				</catalog_product_load_after>
				<sales_order_place_after>
					<observers>
					   <subscriptions>
						  <type>singleton</type>
						  <class>Aemtech_Subscriptions_Model_Observer</class>
						  <method>captureOrder</method>
					   </subscriptions>
					</observers>
				</sales_order_place_after>
				<sales_model_service_quote_submit_success>
					<observers>
						<subscriptions>
							<class>Aemtech_Subscriptions_Model_Observer</class>
							<method>orderSubscriptionsSetStatus</method>
						</subscriptions>
					</observers>
				</sales_model_service_quote_submit_success>
			</events>
    </frontend>
    <admin>
        <routers>
            <subscriptions>
                <use>admin</use>
                <args>
                    <module>Aemtech_Subscriptions</module>
                    <frontName>subscribe</frontName>
                </args>
            </subscriptions> 
        </routers>
    </admin>
    <adminhtml>		
		<layout>
           <updates>
               <subscriptions>
                  <file>subscriptions.xml</file>
               </subscriptions>
           </updates>
       </layout>  
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all> 
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aemtech>
                                            <title>Aemtech - All</title>
                                        </aemtech>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources> 
        </acl>
<!--        <layout>
            <updates>
                <trader>
                    <file>subscriptions.xml</file>
                </trader>
            </updates>
        </layout>-->
    </adminhtml>
    <global>
        <models>
            <subscriptions>
                <class>Aemtech_Subscriptions_Model</class>
                <resourceModel>subscriptions_mysql4</resourceModel>
            </subscriptions>
            <subscriptions_mysql4>
                <class>Aemtech_Subscriptions_Model_Mysql4</class>
                <entities>
                    <subscriptions>
                        <table>subscriptions</table>
                    </subscriptions>
                </entities>
            </subscriptions_mysql4>
        </models>
		<blocks>
            <subscriptions>
                <class>Aemtech_Subscriptions_Block</class>
            </subscriptions>
        </blocks>
<!--        <helpers>
            <subscriptions>
                <class>Aemtech_Subscriptions_Helper</class>
            </subscriptions>
        </helpers>-->
        <resources>
            <subscriptions_setup>
                <setup>
                    <module>Aemtech_Subscriptions</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </subscriptions_setup>
            <subscriptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </subscriptions_write>
            <subscriptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </subscriptions_read>
        </resources>        
    </global>
</config>

