<?xml version="1.0"?>
  <config>
     <modules>
        <Manic_NewLayout>
          <version>1.0.0</version>
        </Manic_NewLayout>
     </modules>
     <global>
        <page>
            <layouts> 
                <new_cms_layout module="page" translate="label">
                    <label>New Home Layout</label>
                    <template>page/home-layout.phtml</template>
                </new_cms_layout> 
                <new_cms_layout_2 module="page" translate="label">
                    <label>New Product Detail Layout</label>
                    <template>page/product-detail-layout.phtml</template>
                </new_cms_layout_2> 
                <new_cms_layout_3 module="page" translate="label">
                    <label>New Cart Layout</label>
                    <template>page/cart-layout.phtml</template>
                </new_cms_layout_3> 
                <new_cms_layout_4 module="page" translate="label">
                    <label>Account Layout</label>
                    <template>page/account-layout.phtml</template>
                </new_cms_layout_4> 
                <new_cms_layout_5 module="page" translate="label">
                    <label>Inside Page Layout</label>
                    <template>page/inside-page-layout.phtml</template>
                </new_cms_layout_5> 
                <new_cms_layout_6 module="page" translate="label">
                    <label>Our Teas Page Layout</label>
                    <template>page/our-teas-layout.phtml</template>
                </new_cms_layout_6> 
                <new_cms_layout_7 module="page" translate="label">
                    <label>FAQ Page Layout</label>
                    <template>page/faq-layout.phtml</template>
                </new_cms_layout_7> 
                <new_cms_layout_8 module="page" translate="label">
                    <label>Other Inside Page Layout</label>
                    <template>page/other-inside-page-layout.phtml</template>
                </new_cms_layout_8> 
            </layouts>
        </page>
    </global>
</config>