<?xml version="1.0"?>
<config>
	<modules>
		<Miragedesign_Templates>
			<version>1.0.0</version>
		</Miragedesign_Templates>
	</modules>
    <frontend>
        <routers>
            <templates>
                <use>standard</use>
                <args>
                    <module>Miragedesign_Templates</module>
                    <frontName>templates</frontName>
                </args>
            </templates>
        </routers>
        <layout>
            <updates>
                <templates>
                    <file>templates.xml</file>
                </templates>
            </updates>
        </layout>        
		<default>
        	<router>templates</router>
     	</default>        
    </frontend>
    <global>
        <blocks>
            <templates>
                <class>Miragedesign_Templates_Block</class>
            </templates>
        </blocks>
		<helpers>
			<templates>
	            <class>Miragedesign_Templates_Helper</class>                
			</templates>
		</helpers>
    </global>
</config>
